USE [master]
GO
/****** Object:  Database [ADO_en_capas]    Script Date: 11/5/2021 15:28:12 ******/
CREATE DATABASE [ADO_en_capas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EjemploCapas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\ADO_en_capas.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EjemploCapas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\ADO_en_capas.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADO_en_capas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADO_en_capas]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[DNI] [int] NULL,
	[IdLocalidad] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[IdLocalidad] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[IdLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Localidad] FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[Localidad] ([IdLocalidad])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Localidad]
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_Baja]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_Baja]
	
	 @IdCliente int
	
AS
BEGIN
SET NOCOUNT ON;


	UPDATE	Cliente
	SET		Activo= 'False'
	WHERE	IdCliente = @IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_BusquedaXApellido]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_BusquedaXApellido]
@Apellido  varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
        IdCliente,
		Nombre,
		Apellido,
		DNI,
		Cliente.IdLocalidad,
		Localidad.Descripcion AS Localidad,
        Activo
			
	FROM	Cliente

    join Localidad on Localidad.IdLocalidad = Cliente.IdLocalidad

	WHERE	Activo = 'True' and Apellido=@Apellido
END
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_Crear]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_Crear]

	@Nombre varchar(50),
    @Apellido varchar(50),
	@DNI int,
	@IdLocalidad int,
	@Activo bit
AS
BEGIN

	SET NOCOUNT ON;

INSERT INTO Cliente
	(Nombre,Apellido,DNI,IdLocalidad,Activo)
     VALUES
    (@Nombre,@Apellido,@DNI,@IdLocalidad,@Activo)
END

GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_Existe_DNI]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[s_Cliente_Existe_DNI]
	-- Add the parameters for the stored procedure here
@DNI int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select count(DNI) from Cliente where DNI= @DNI
END
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_Listar]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_Listar]

@IdCliente int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT
		Nombre,
		Apellido,
		DNI,
		Cliente.IdLocalidad,
		Localidad.Descripcion AS Localidad

	FROM	Cliente
  
    join Localidad on Localidad.IdLocalidad = Cliente.IdLocalidad

	WHERE	Activo = 'True' and Cliente.IdCliente=@IdCliente
END
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_ListarT]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_ListarT]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  
	SELECT
        IdCliente,
		Nombre,
		Apellido,
		DNI,
		Cliente.IdLocalidad,
		Localidad.Descripcion AS Localidad,
        Activo
			
	FROM	Cliente

    join Localidad on Localidad.IdLocalidad = Cliente.IdLocalidad

	WHERE	Activo = 'True'
END
GO
/****** Object:  StoredProcedure [dbo].[s_Cliente_Modificar]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Cliente_Modificar]

	@IdCliente int, 
	@Nombre varchar(50),
	@Apellido varchar(50),
	@DNI int,
    @IdLocalidad int,
	@Activo bit

AS
BEGIN
	
	SET NOCOUNT ON;

   UPDATE Cliente
   SET [Nombre] = @Nombre,
       [Apellido] = @Apellido,
       [DNI] = @DNI,
       [IdLocalidad]= @IdLocalidad,
	   Activo=1

        WHERE IdCliente=@IdCliente

END
GO
/****** Object:  StoredProcedure [dbo].[s_Localidad_Asociada]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Localidad_Asociada]
	@IdLoc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    select count(IdLocalidad) 
	from Cliente
	where IdLocalidad = @IdLoc
END
GO
/****** Object:  StoredProcedure [dbo].[s_Localidad_Borrar]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Localidad_Borrar]
     @IdLoc int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
DELETE FROM Localidad 
where IdLocalidad= @IdLoc
END
GO
/****** Object:  StoredProcedure [dbo].[s_Localidad_ListarT]    Script Date: 11/5/2021 15:28:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[s_Localidad_ListarT]
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * from Localidad
END
GO
USE [master]
GO
