<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\joris\Desktop\TournamentApp" />
    <add key="greaterWins" value="1" />
    <add key="senderEmail" value="jorisvanlaar@gmail.com" />
    <add key="senderDisplayName" value="Joris van Laar" />
    <add key="smsAccountSid" value="AC38263fbcc85b3cb895ce5dc552639ea5" />
    <add key="smsAuthToken" value="d8ccf87ea46f5cce58d9443510c97205" />
    <add key="smsFromPhoneNumber" value="+14846015288" />
  </appSettings>
  <connectionStrings>
    <add name="TournamentsDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Tournaments;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="Joris" password="testing" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>