
@{
    ViewBag.Title = "Lista de empleados usando EF";
}

<h2>@ViewBag.Title</h2>

<br />

@if (Model != null)
{
    using (Html.BeginForm())
    {
        <select id="selAreas" onchange="SetArea(this.value)">
            <option value"0">Seleccionar empleado:</option>
            @foreach (MVCEntityFramework.Models.Empleados empleados in Model)
            {
                <option value="@empleados.IdArea">@empleados.Nombre</option>
            }
        </select>

        <input type="submit" value="Buscar área" />
        <input type="hidden" id="IdArea" name="IdArea" value="0" />
        <br />
        if (ViewBag.Area != null)
        {
            <br />
            <label>@ViewBag.Area</label>
        }
    }

}

<script>
    function SetArea(id) {
        document.getElementById('IdArea').value = id;
    }
</script>
