
@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>Lista de Usuarios</h2>

@using (Html.BeginForm())
{
    <select name="selUsuarios">
        @foreach (string user in Model)
        {
            <option>@user</option>
        }
    </select>
    <br />

    if (ViewBag.Nombre != null)
    {
        <h4 style="color: green">
            Usuario seleccionado: @ViewBag.Nombre
        </h4>
    }

    <br />
    <button type="submit">
        Seleccionar usuario
    </button>
}



@Html.ActionLink("Regresar", "Index")