<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MMABooks"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Documents\AP6\Achieve\Murach's C#\Database\MMABooks.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>