<?xml version="1.0" encoding="utf-8"?>
<configuration>


	<appSettings>
		<add key="CarpetaCSV"
			 value="C:\Documents\AP5\(EndGame)\Gestor de Campeonatos\tools\CSV"/>
	</appSettings>


	<connectionStrings>
		<add name="ConexionSQLServer"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Documents\AP5\(EndGame)\Gestor de Campeonatos\tools\SQLServer\Campeonatos.mdf&quot;;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>


	<startup>
		<supportedRuntime version="v4.0"
						  sku=".NETFramework,Version=v4.8"/>
	</startup>


</configuration>
