<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <clear/>
    <!--CAN'T GET THIS WORKING WITH DATADIRECTORY FOR SOME REASON, I have to hardcode the MDF file or use a local SQL Server DB-->
    <!--<add name="DBConn" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDBFilename=c:\Databases\MMABooks.mdf; Integrated Security=True"/>-->
    <!--<add name="DBConn" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDBFilename=|DataDirectory|\MMABooks.mdf; Initial Catalog=MMABooks; Integrated Security=True"/>-->
    
    <add name="MMABooks" connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDBFilename=c:\Databases\MMABooks.mdf; Integrated Security=True"/>
    <!--<add name="MMABooks" connectionString="data source=localhost; Database=MMABooks; Integrated Security=True"/>-->
    
  </connectionStrings>
</configuration>